{#{% extends "layout.html" %}#}
{#{% load humanize course_extras %}#}
{#<!--{% load course_extras %}-->#}
{##}
{#{% block title %}{{ course.title }}{% endblock %}#}
{##}
{#{% block content %}#}
{#<article>#}
{#    <h2>{{ course.title }}</h2>#}
{#<!--    {{ course.description|markdown_to_html|safe }}-->#}
{#    {{ course.description|markdown_to_html }}#}
{##}
{#    <!--    <p>These are the step(s) in this course: {{ course.step_set.all|join:", " }}</p>-->#}
{#<!--    <p>There are {{ course.step_set.all|length }} step(s) in this course: {{ course.step_set.all|join:", " }}</p>-->#}
{#<!--        <p>There are {{ course.step_set.count }} step{{ course.step_set.count|pluralize }} in this course: {{ course.step_set.all|join:", " }}</p>-->#}
{#        <p>There are {{ course.step_set.count|apnumber }} step{{ course.step_set.count|pluralize }} in this course: {{ course.step_set.all|join:", " }}</p>#}
{#    #}
{#    <section>#}
{#        {% for step in course.step_set.all %}#}
{#            <h3>#}
{#                <a href="{% url 'courses:step_detail' course_pk=course.pk step_pk=step.pk %}">{{ step.title }}</a>#}
{#            </h3>#}
{#            {{ step.description}}#}
{#        {% endfor %}#}
{#    </section>#}
{#</article>#}
{#{% if user.is_authenticated %}#}
{#<hr>#}
{#<a href="{% url 'courses:quiz_create' course_pk=course.id %}" class="button">New Quiz</a>#}
{#{% endif %}#}
{#{% endblock %}#}

{#--Django Forms-------------------------------------------------------------------------------------------#}
{% extends "courses/layout.html" %}
{% load course_extras %}

{% block title %}{{ course.title }}{% endblock %}

{% block content %}
    <div class="row columns">
        {{ block.super }}
        <article>
            <h1 class="">{{ course.title }}</h1>

            <div class="callout secondary">
                {{ course.description|markdown_to_html }}
            </div>

            <dl>
                {# 2.3#}
                {% for step in steps %}
                    <dt>
                        <a href="{{ step.get_absolute_url }}">{{ step.title }}</a>
                    </dt>
                    <dd>{{ step.description|markdown_to_html }}</dd>
                    
                    {#-----------8.3.8-2 --计算一个quiz有多少个question-----------#}
                    {% if step.question_set.all %}
                        <dt>Total quesitons</dt>
                        <dd>{{ step.question_set.count }}</dd>
                    {%  endif %}
                {% endfor %}
            </dl>
        </article>
        {% if user.is_authenticated %}
            <hr>
            <a href="{% url 'courses:quiz_create' course_pk=course.id %}" class="button">New Quiz</a>
        {% endif %}
    </div>
{% endblock %}