{% extends 'courses/layout.html' %}
{% load course_extras %}


{#{% block title %}New Question for {{ quiz.title }} | {{ quiz.course.title }} {{ block.super }}{% endblock %}#}
{#{% block title %}{{ form.instance.prompt|default:"New Question" }} | {{ quiz.course.title }} {{ block.super}}{% endblock %}#}
{##}
{#{% block breadcrumbs %}#}
{#    <li><a href="{% url 'courses:course_detail' pk=quiz.course.pk %}">{{ quiz.course.title }}</a></li>#}
{#    <li><a href="{% url 'courses:quiz_detail' course_pk=quiz.course.pk step_pk=quiz.pk %}">{{ quiz.title }}</a></li>#}
{#{% endblock %}#}
{##}
{#{% block content %}#}
{#<div class="row columns">#}
{#    {{ block.super }}#}
{#<!--        <h1>Make a new question</h1>-->#}
{#    <h1>{{ form.instance.prompt|default:"Make a new question" }}</h1>#}
{#    <form method="POST" action="">#}
{#        {% csrf_token %}#}
{#        {{ form.as_p }}#}
{#        #}
{#        {{ formset.management_form }}#}
{#        #}
{#        <table role="grid" class="stack hover" style="width: 100%">#}
{#            <thead>#}
{#                <tr>#}
{#                    <th scope="col" class="text-center" style="width: 10%">Order</th>#}
{#                    <th scope="col" class="text-center">Center</th>#}
{#                    <th scope="col" class="text-center" style="width: 10%">Correct</th>#}
{#                    <th scope="col" class="text-center" style="width: 10%">Delete</th>#}
{#                </tr>#}
{#            </thead>#}
{#            <tbody class="order">#}
{#                {% for form in formest %}#}
{#                    <tr class="answer-form {% if form.instance.pk %}item{% else %}new{% endif %}">#}
{#                        <td>{{ form.id }}{{ form.order }}</td>#}
{#                        <td>{{ form.text }}</td>#}
{#                        <td class="text-center">{{ form.correct }}</td>#}
{#                        {% if form.instance.pk %}#}
{#                            <td class="text-center">{{ form.DELETE }}</td>#}
{#                        {% else %}#}
{#                            <td class="text-center"></td>#}
{#                        {% endif %}#}
{#                    </tr>#}
{#                    #}
{#                {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
{#        #}
{#        #}
{#        <input type="submit" class="button" value="Save">#}
{#    </form>#}
{#        {% if user.is_authenticated and form.instance.pk %}#}
{#            <hr>#}
{#<!--            <a href="{% url 'courses:create_answer' question_pk=form.instance.pk %}}" class="button">Add Answer</a>-->#}
{#            <a href="{% url 'courses:create_answer' question_pk=form.instance.pk %}}" class="button">Answers</a>#}
{##}
{#        {% endif %}#}
{#</div>#}
{#{% endblock %}#}
{##}
{# 4.6 #}
{#{% block css %}#}
{#    {{ form.media.css }}#}
{#{% endblock %}#}
{##}
{#{% block javascript %}#}
{#    {% load static %}#}
{#    {{ form.media.js }}#}
{#    <script src="{% static 'js/vendor/jquery.formset.js' %}"></script>#}
{#    <script>#}
{#        $('.answer-form').formset({#}
{#            addText: 'add answer',#}
{#            deleteText: 'remove'#}
{#        });#}
{#    </script>#}
{#{% endblock %}#}


{#{% block title %}New Question for {{ quiz.title }} | {{ quiz.course.title }} {{ block.super}}{% endblock %}#}
{% block title %}{{ form.instance.prompt|default:"New Question" }} | {{ quiz.course.title }} {{ block.super}}{% endblock %}


{% block breadcrumbs %}
    <li><a href="{% url 'courses:course_detail' pk=quiz.course.pk %}">{{ quiz.course.title }}</a></li>
    <li><a href="{% url 'courses:quiz_detail' course_pk=quiz.course.pk step_pk=quiz.pk %}">{{ quiz.title }}</a></li>
{% endblock %}

{% block content %}
    <div class="row columns">
        {{ block.super}}
{#        <h1>Make a new question</h1>#}
        <h1>{{ form.instance.prompt|default:'Make a new question' }}</h1>
        <form method="POST" action="">
            {% csrf_token %}
            {{ form.as_p }}
            
            {{ formset.management_form }}
            
            <table role="grid" class="stack hover" style="width: 100%">
                <thead>
                    <tr>
                        <th scope="col" class="text-center" style="width: 10%">Order</th>
                        <th scope="col" class="text-center">Text</th>
                        <th scope="col" class="text-center" style="width: 10%">Correct</th>
                        <th scope="col" class="text-center" style="width: 10%">Delete?</th>
                    </tr>
                </thead>
                <tbody class="order">
                    {% for form in formset %}
                        <tr class="answer-form {%  if form.instance.pk %}item{% else %}new{% endif %}">
                            <td>{{ form.id }}{{ form.order }}</td>
                            <td>{{ form.text }}</td>
                            <td class="text-center">{{ form.correct }}</td>
                            {% if form.instance.pk %}
                                <td class="text-center">{{ form.DELETE }}</td>
                            {% else %}
                                <td class="text-center"></td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
            
            <input type="submit" class="button" value="Save">
        </form>
{#        {% if user.is_authenticated and form.instance.pk %}#}
{#            <hr>#}
            {#<a href="{% url 'courses:create_answer' question_pk=form.instance.pk %}" class="button">And Answer</a>#}
            {#4.1#}
{#            <a href="{% url 'courses:create_answer' question_pk=form.instance.pk %}" class="button">Answers</a>   #}
{##}
{#        {% endif %}#}
    </div>
{% endblock %}

{% block css %}
    {{ form.media.css }}
{% endblock %}

{% block javascript %}
    {% load static %}
    {{ form.media.js }}
    <script src="{% static 'js/vendor/jquery.formset.js' %}"></script>
    <script>
        $('.answer-form').formset({
            addText: 'add answer',
            deleteText: 'remove'
        });
    </script>
{% endblock %}